/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*---------BOX-SIZING----------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*---------TYPOGRAPHY----------*/
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}
h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
}
h1 { font-size: 4.5em;  }
h2 { font-size: 4em;  }
h3 {
    font-size: 2.25em;
    margin: 0;
}
h4 { 
    font-size: 2em;  
    margin: 0;
    font-weight: 300;
}
p {
    margin: .5em 0;
}

li a {
    text-decoration: none;
    color: #fff;
    font-family:'Oswald', sans-serif;
    font-size: 1.25em;
    font-weight: 300;
}


/*---------GRID----------------*/
.container {
    width: 70%;
    margin: 0 auto;
}

/*---------JUMBOTRON----------------*/
.jumbotron p {
    color: #fff;
}
.drawings {
    width: 45%;
    display: inline-block;
    position: relative;
    margin-right: 5%;
}
.slogan {
    width: 50%;
    text-align: right;
    float: right;
    padding-left: 3%;
}
.slogan, .drawings {
    margin-top: 100px;
}
/*---------SVG DRAWING---------*/

.jumbotron {
    background-image: url("../img/bg-lighter.jpg");
    background-size: 1900px 1225px;
    background-position: left top;
    height: 100vh;

}
.illustration {
    opacity: 0;
    width:100%;
    height: auto;
}
.jumbotron-device {
    width: 100%;
}
.drawings svg {
    position: absolute;
    top: 0px;
    bottom: 0px;
}
.show {
    opacity: 1;
}
.hide {
    opacity: 0;
}
.line-drawing {
    width: 100%;
}
.line-drawing,
.illustration {
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/*---------MAIN-NAV----------------*/
.nav-wrapper {
    /*background-color: rgba(255,255,255,.8);*/
    margin-top: 50px;
}
.main-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
}
.main-nav li {
    margin-left: 9%;
}
.cta {
    display: inline-block;
    border: 1px white solid;
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
}

/*--------FEATURES---------------*/
.features {
    background: 
        linear-gradient(
          rgba(33, 42, 52, 0.80), 
          rgba(33, 42, 52, 0.80)
        ),
        url("../img/woman_beach_edit.jpg");
    background-size: 100% auto;
    height: 100vh;
    position: relative;
}
.features-copy {
    width: 75%;
}
.features .container {
    position: relative;
}
.feature-item {
    width: 65%;
}
#svgtest {
    position: absolute;
    top:60%;
    right: -6%;
    transform: translateY(-50%);
}


/*----------STRENGTHEN-----------*/
.strengthen {
    color: #222;
}

.strengthen-item {
    margin: 95px 0;
}
.fact {
    display: inline-block;
    width: 25%;
}
.strengthen-description {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    margin-left: 3%;
}
.strengthen-item .fact {
    vertical-align: middle;
    float: right;
}
.fact p {
    font-weight: 300;
    font-style: italic;
    margin-top: 30px;
}
#svgstrengthen {
    position: absolute;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}